---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Content from "../components/Content.astro"
import Tecnologias from "../components/tecnologias.astro"

---

<Layout
  title="Mauricio Lopez - FrontEnd Developer"
  description="Contrata a Mauricio Lopez, FrontEnd Developer con experiencia e tecnologias como React, Astro, Tailwind, Php, Bootstrap, Html, css, Javascript, Wordpress, Wix, Prestashop y otros."
>
<div class="h-full bg-gray-200 p-8 pt-2 dark:bg-slate-900">
 <Hero />

 <Content />
 <Tecnologias />

</div>

</Layout>